body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
}

h2 {
    text-align: center;
}

.form-box {
    width: 350px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 6px;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #999;
    border-radius: 4px;
}

.row {
    display: flex;
    gap: 10px;
    margin: 6px 0;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: #003b91;
    color: white;
    border: none;
    border-radius: 5px;
}
